<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Author Table</h3>
            <div class="card-tools">
              <button class="btn btn-success" @click="newModal">
                Add New <i class="fas fa-user-plus fa-fw"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Genre</th>
                  <th>Nationality</th>
                  <th>Birth Year</th>
                  <th>Created</th>
                  <th>Updated</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="author in authors.data" :key="author.id">
                  <td>{{ author.id }}</td>
                  <td>{{ author.name | upText }}</td>
                  <td>{{ author.genre | upText }}</td>
                  <td>{{ author.birth_year | upText }}</td>
                  <td>{{ author.created_at | myDate }}</td>
                  <td>{{ author.updated_at | myDate }}</td>
                  <td>
                    <a href="#" @click="editModal(author)" class="">
                      <i class="fa fa-edit blue"></i>
                    </a>
                    /
                    <a href="#" @click="deleteAuthor(author.id)">
                      <i class="fa fa-trash red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination
              :data="authors"
              @pagination-change-page="getResults"
            ></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addNew"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editMode" id="addNewLabel">
              Add New
            </h5>
            <h5 class="modal-title" v-show="editMode" id="addNewLabel">
              Update Author's Info
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editMode ? updateAuthor() : createAuthor()">
            <div class="modal-body">
              <div class="form-group">
                <input
                  v-model="form.name"
                  type="text"
                  name="name"
                  placeholder="Name"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('name') }"
                />
                <has-error :form="form" field="name"></has-error>
              </div>
              <div class="form-group">
                <input
                  v-model="form.genre"
                  type="text"
                  name="genre"
                  placeholder="Genre type"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('genre') }"
                />
                <has-error :form="form" field="genre"></has-error>
              </div>
              <div class="form-group">
                <input
                  v-model="form.nationality"
                  type="text"
                  name="nationality"
                  placeholder="Nationality"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('nationality') }"
                />
                <has-error :form="form" field="nationality"></has-error>
              </div>
              <div class="form-group">
                <input
                  v-model="form.birth_year"
                  type="text"
                  name="birth_year"
                  placeholder="Birth Year"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('birth_year') }"
                />
                <has-error :form="form" field="birth_year"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Close
              </button>
              <button v-show="editMode" type="submit" class="btn btn-success">
                Update
              </button>
              <button v-show="!editMode" type="submit" class="btn btn-primary">
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      editMode: false,
      authors: {},
      form: new Form({
        id: "",
        name: "",
        genre: "",
        nationality: "",
        birth_year: "",
      }),
    };
  },
  methods: {
    getResults(page = 1) {
      axios.get("api/author?page=" + page).then((response) => {
        this.users = response.data;
      });
    },
    updateAuthor() {
      this.$Progress.start();
      this.form
        .put("api/author/" + this.form.id)
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");
          Swal.fire("Updated!", "Infomartion has been updated.", "success");
          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
          Swal.fire("Failed!", "There was something wronge.", "warning");
        });
    },
    deleteAuthor(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.value) {
          this.form
            .delete("api/author/" + id)
            .then((data) => {
              Swal.fire("Deleted!", "Your author has been deleted.", "success");
              Fire.$emit("AfterCreate");
            })
            .catch(() => {
              Swal.fire("Failed!", "There was something wronge.", "success");
            });
        }
      });
    },
    createAuthor() {
      this.$Progress.start();
      this.form
        .post("api/author")
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");
          toast.fire({
            icon: "success",
            title: "author Created in successfully",
          });
          this.$Progress.finish();
        })
        .catch(() => {
          Swal.fire("Failed!", "There was something wronge.", "warning");
        });
    },
    loadAuthors() {
        console.log("api/author");
      axios.get("api/author").then(({ data }) => (this.authors = data));
    },
    newModal() {
      this.editMode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },
    editModal(author) {
      this.editMode = true;
      this.form.reset();
      $("#addNew").modal("show");
      this.form.fill(author);
    },
  },
  created() {
    Fire.$on("searching", () => {
      let query = this.$parent.search;
      axios
        .get("api/findauthor?q=" + query)
        .then((data) => {
          this.authors = data.data;
        })
        .catch(() => {});
    });
    this.loadAuthors();
    Fire.$on("AfterCreate", () => {
      this.loadAuthors();
    });
    // setInterval(() => this.loadauthors(), 3000);
  },
};
</script>
