<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Book Table</h3>
            <div class="card-tools">
              <button class="btn btn-success" @click="newModal">
                Add New <i class="fas fa-user-plus fa-fw"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Year</th>
                  <th>Literary Genre Id</th>
                  <th>Editor Id</th>
                  <th>Author Id</th>
                  <th>Registerd At</th>
                  <th>Modify</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="book in books.data" :key="book.id">
                  <td>{{ book.id }}</td>
                  <td>{{ book.title }}</td>
                  <td>{{ book.year }}</td>
                  <td>{{ book.literary_genre_id}}</td>
                  <td>{{ book.editor_id}}</td>
                  <td>{{ book.author_id}}</td>
                  <td>{{ book.created_at | myDate }}</td>
                  <td>{{ book.updated_at | myDate }}</td>
                  <td>
                    <a href="#" @click="editModal(book)" class="">
                      <i class="fa fa-edit blue"></i>
                    </a>
                    /
                    <a href="#" @click="deleteBook(book.id)">
                      <i class="fa fa-trash red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination
              :data="users"
              @pagination-change-page="getResults"
            ></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addNew"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editMode" id="addNewLabel">
              Add New
            </h5>
            <h5 class="modal-title" v-show="editMode" id="addNewLabel">
              Update Book's Info
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editMode ? updateBook() : createBook()">
            <div class="modal-body">
              <div class="form-group">
                <input
                  v-model="form.title"
                  type="text"
                  name="title"
                  placeholder="Title"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('title') }"
                />
                <has-error :form="form" field="title"></has-error>
              </div>
              <div class="form-group">
                <input
                  v-model="form.year"
                  type="text"
                  name="year"
                  placeholder="year"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('year') }"
                />
                <has-error :form="form" field="year"></has-error>
              </div>
              <div class="form-group">
                <input
                  v-model="form.literary_genre_id"
                  type="text"
                  name="literary_genre_id"
                  placeholder="literary_genre_id"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('literary_genre_id') }"
                />
                <has-error :form="form" field="literary_genre_id"></has-error>
              </div>
              <div class="form-group">
                <input
                  v-model="form.editor_id"
                  type="text"
                  name="editor_id"
                  placeholder="editor_id"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('editor_id') }"
                />
                <has-error :form="form" field="editor_id"></has-error>
              </div> 
              <div class="form-group">
                <input
                  v-model="form.author_id"
                  type="text"
                  name="author_id"
                  placeholder="author_id"
                  class="form-control"
                  :class="{ 'is-invalid': form.errors.has('author_id') }"
                />
                <has-error :form="form" field="author_id"></has-error>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Close
              </button>
              <button v-show="editMode" type="submit" class="btn btn-success">
                Update
              </button>
              <button v-show="!editMode" type="submit" class="btn btn-primary">
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      editMode: false,
      books: {},
      form: new Form({
        id: "",
        title: "",
        year: "",
        literary_genre_id: "",
        editor_id: "",
        author_id: "",
      }),
    };
  },
  methods: {
    getResults(page = 1) {
      axios.get("api/book?page=" + page).then((response) => {
        this.books = response.data;
      });
    },
    updateBook() {
      this.$Progress.start();
      this.form
        .put("api/book/" + this.form.id)
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");
          Swal.fire("Updated!", "Infomartion has been updated.", "success");
          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
          Swal.fire("Failed!", "There was something wronge.", "warning");
        });
    },
    deleteBook(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.value) {
          this.form
            .delete("api/book/" + id)
            .then((data) => {
              Swal.fire("Deleted!", "Your book has been deleted.", "success");
              Fire.$emit("AfterCreate");
            })
            .catch(() => {
              Swal.fire("Failed!", "There was something wronge.", "success");
            });
        }
      });
    },
    createBook() {
      this.$Progress.start();
      this.form
        .post("api/book")
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");
          toast.fire({
            icon: "success",
            title: "Book Created in successfully",
          });
          this.$Progress.finish();
        })
        .catch(() => {
          Swal.fire("Failed!", "There was something wronge.", "warning");
        });
    },
    loadBooks() {
      if (this.$gate.isAdminOrAuthor()) {
        axios.get("api/book").then(({ data }) => (this.books = data));
      }
    },
    newModal() {
      this.editMode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },
    editModal(book) {
      this.editMode = true;
      this.form.reset();
      $("#addNew").modal("show");
      this.form.fill(book);
    },
  },
  created() {
    Fire.$on("searching", () => {
      let query = this.$parent.search;
      axios
        .get("api/findUser?q=" + query)
        .then((data) => {
          this.books = data.data;
        })
        .catch(() => {});
    });
    this.loadBooks();
    Fire.$on("AfterCreate", () => {
      this.loadBooks();
    });
    // setInterval(() => this.loadUsers(), 3000);
  },
};
</script>
