<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Literary Genre Table</h3>
                <div class="card-tools">
                  <button class="btn btn-success" @click="newModal">Add New <i class="fas fa-user-plus fa-fw"></i> </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Genre</th>
                      <th>Created At</th>
                      <th>Modify</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="literaryGenre in literaryGenres.data" :key="literaryGenre.id">
                      <td>{{literaryGenre.id}}</td>
                      <td>{{literaryGenre.genre}}</td>
                      <td>{{literaryGenre.created_at | myDate}}</td>
                      <td>{{literaryGenre.update_at | myDate}}</td>
                      <td>
                        <a href="#" @click="editModal(literaryGenre)" class=""> 
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteLiteraryGenres(literaryGenre.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="literaryGenres" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editMode" id="addNewLabel">Add New</h5>
                        <h5 class="modal-title" v-show="editMode" id="addNewLabel">Update Literary Genres's Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateLiteraryGenres() : createLiteraryGenres()">
                        <div class="modal-body">
                            <div class="form-group">
                                <input v-model="form.genre" type="text" name="genre"
                                    placeholder="Genre"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('genre') }">
                                <has-error :form="form" field="genre"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                            <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editMode: false,
                literaryGenres: {}, 
                form: new Form({
                    id: '',
                    genre: ''
                })
            }
        },
        methods: {
            getResults(page = 1) {
			    axios.get('api/literaryGenre?page=' + page)
			    	.then(response => {
			    		this.literaryGenres = response.data;
			    	});
		    },
            updateLiteraryGenres() {
                this.$Progress.start();
                this.form.put('api/literaryGenre/'+this.form.id)
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');
                     Swal.fire(
                            'Updated!',
                            'Infomartion has been updated.',
                            'success'  
                        );
                    this.$Progress.finish();
                })
                .catch(() => {
                    this.$Progress.fail();
                    Swal.fire(
                                'Failed!', 
                                "There was something wronge.", 
                                "warning"
                            );
                });
            },
            deleteLiteraryGenres(id) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/literaryGenre/'+id).then((data) => {
                            Swal.fire(
                                'Deleted!',
                                'Your user has been deleted.',
                                'success'  
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(() => {
                            Swal.fire(
                                'Failed!',
                                "There was something wronge.",
                                'success'  
                            );
                        });
                    }
                });
            },
            createLiteraryGenres() {
                this.$Progress.start();
                this.form.post('api/literaryGenre')
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');
                    toast.fire({
                                icon: 'success',
                                title: 'Literary Genres Created in successfully'
                            });
                    this.$Progress.finish();
                })
                .catch(() => {
                    Swal.fire(
                                'Failed!', 
                                "There was something wronge.", 
                                "warning"
                            );
                });
            },
            loadLiteraryGenres(){
                axios.get('api/literaryGenre').then(({ data }) => ( this.literaryGenres = data ));
            },  
            newModal() {
                this.editMode = false
                this.form.reset();
                $('#addNew').modal('show');
            },
            editModal(literaryGenres) {
                this.editMode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(literaryGenres);
            }
        },
        created() {
            Fire.$on('searching', () => {
                let query = this.$parent.search;
                axios.get('api/findLiteraryGenres?q=' + query)
                .then((data) => {
                    this.literaryGenres = data.data;
                })
                .catch(() => {

                });
            });
            this.loadLiteraryGenres();
            Fire.$on('AfterCreate',() => {
                this.loadLiteraryGenres();
            });
            // setInterval(() => this.loadUsers(), 3000);
        }
    }
</script>
